.text-area-no-focus {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0em;
    -fx-font-size: 12px;
}
